{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Connexion</h1>
            </div>

            <div class="form-group row">
                <label for="example-email-input" class="col-2 col-form-label">Email</label>
                <div class="col-10">
                    <input class="form-control" type="email" value="exemple@gmail.com" id="example-email-input">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-password-input" class="col-2 col-form-label">Password</label>
                <div class="col-10">
                    <input class="form-control" type="password" value="hunter2" id="example-password-input">
                </div>
            </div>
            <br>
            <div class="form-group row">
                <div class="col-12"  style="text-align: center;">
                <button type="submit" class="btn btn-primary">Se connecter</button>
                </div>
            </div>

            <br>
            <br>
            <div id="next">
                <h1>S'incrire</h1>

                <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">Nom</label>
                    <div class="col-10">
                        <input class="form-control" type="text" value="Nom" id="example-text-input">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">Prenom</label>
                    <div class="col-10">
                        <input class="form-control" type="text" value="Prenom" id="example-text-input">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">Classe</label>
                    <div class="col-10">
                        <select class="form-control">
                            <option>BTS SIO</option>
                            <option>BTS NRC</option>
                            <option>BTS MUC</option>
                            <option>Default select</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    body {
        font: 18px/1.5 sans-serif;
        background: url("{{ asset('background.jpp') }}") no-repeat;
        background-size: cover; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome    { margin-bottom: 2em; text-align: center; }

    #icon-status    { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #next   { text-align: center;}

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}
